* {
  padding: 0;
  margin: 0;
}

hr{
  border-top: 2px solid rgb(192,192,192) !important;
}

.banner:hover{
  cursor: zoom-in;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background-color: white;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(237, 115, 3);
}

/**=========================
   ===== css index.php =====
   =========================**/

.container-fluid {
  background-color: rgb(13, 36, 60);
  width: 100%;
}

.cover-image {
  background-color: rgb(13, 36, 60);
  position: relative;
  background-image: url("image/image-background/cover17.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  background-attachment: fixed;
  height: 655px;
}

.text-title {
  color: white;
  font-family: 'Baloo Thambi', cursive;
  font-size: 5em;
  font-weight: bold;
  margin-top: 100px;
}

.text-sub {
  width: 80%;
  font-family: 'Inconsolata', monospace;
  color: white;
  font-size: 3em;
  margin: 0 auto;
}

.action {
  width: 30%;
  margin: 10px auto;
}

.action a {
  color: white;
  width: 300px;
  padding: 10px;
  font-size: 22px;
  border: 2px solid white;
  margin-left: 5px;
  background-color: transparent;
}

.action a:hover {
  background-color: white;
  transition: .5s ease-in;
  border: 2px solid white;
}

.wrap-info {
  padding: 10px;
  background-color: white;
}

.head-info {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: 'Fjalla One', sans-serif;
}

.info {
  font-family: 'Inconsolata', monospace;
}

.wrap-about {
  background-color: rgb(13, 36, 60);
}

.wrap-about img {
  width: 200px;
  padding: 30px 0;
}

.wrap-about h2 {
  color: white;
  padding: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

.wrap-about p {
  font-size: 18px;
  color: white;
  line-height: 1.8em;
}

.lead-1 {
  margin-top: -15px;
}

.wrap-about a {
  color: white;
  border: 2px solid white;
  margin-bottom: 50px;
  background-color: transparent;
}

.wrap-about a:hover {
  background-color: white;
  transition: .5s ease-in;
  border: 2px solid white;
}

.wrap-profil {
  padding: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

.wrap-profil img {
  height: 200px;
  margin-top: 20px;
}

.wrap-profil p {
  font-size: 16px;
  padding: 20px;
}

.wrap-footer {
  background-color: rgb(13, 36, 60);
}

.wrap-footer p {
  color: white;
  font-size: 15px;
  padding: 20px 0;
  margin-bottom: 0;
}

.wrap-footer span {
  color: rgb(255, 115, 115);
}

/**=========================
   == akhir css index.php ==
   =========================**/


/**==========================
   == Responsive index.php ==
   ==========================**/

@media screen and (max-width: 1200px) {
  .text-title {
    font-size: 5em;
  }
  .text-sub {
    width: 90%;
    font-size: 40px;
  }
  .action {
    width: 35%;
  }
  .action a {
    width: 300px;
  }
}

@media screen and (max-width: 992px) {
  .text-title {
    font-size: 5em;
  }
  .text-sub {
    width: 90%;
    font-size: 40px;
  }
  .action {
    width: 50%;
  }
  .action a {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 4.5em;
  }
  .text-sub {
    width: 90%;
    font-size: 2.5em;
  }
  .action {
    width: 50%;
  }
  .action a {
    width: 300px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 705px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 4em;
  }
  .text-sub {
    width: 90%;
    font-size: 30px;
  }
  .action {
    width: 50%;
  }
  .action a {
    width: 300px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 624px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 3.5em;
  }

  .text-sub {
    width: 90%;
    font-size: 2em;
  }

  .action {
    width: 50%;
  }

  .action a {
    width: 270px;
    font-size: 15px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 585px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 3em;
  }
  .text-sub {
    width: 100%;
    font-size: 1.8em;
    ;
  }

  .action {
    width: 60%;
  }

  .action a {
    width: 280px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 515px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 3em;
  }

  .text-sub {
    width: 100%;
    font-size: 23px;
  }

  .action {
    width: 65%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 505px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 3em;
  }

  .text-sub {
    width: 100%;
    font-size: 23px;
  }

  .action {
    width: 70%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 465px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 2em;
  }
  .text-sub {
    width: 100%;
    font-size: 29px;
    ;
  }

  .action {
    width: 70%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 460px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 3em;
  }

  .text-sub {
    width: 100%;
    font-size: 29px;
  }

  .action {
    width: 70%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 455px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 3em;
  }
  .text-sub {
    width: 100%;
    font-size: 30px;
    ;
  }

  .action {
    width: 80%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 435px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 2.5em;
  }

  .text-sub {
    width: 100%;
    font-size: 29px;
  }

  .wrap-about h2{
    font-size: 35px;
  }

  .wrap-about p{
    font-size: 18px;
  }

  .action {
    width: 80%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 429px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 2.5em;
  }

  .text-sub {
    width: 100%;
    font-size: 29px;
  }

  .wrap-about h2{
    font-size: 35px;
  }

  .wrap-about p{
    font-size: 18px;
  }

  .action {
    width: 80%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 2.5em;
  }

  .text-sub {
    width: 100%;
    font-size: 28px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 30px;
  }

  .wrap-about p{
    font-size: 16px;
  }

  .action {
    width: 85%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 395px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 2.3em;
  }

  .text-sub {
    width: 100%;
    font-size: 25px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 30px;
  }

  .wrap-about p{
    font-size: 16px;
  }

  .action {
    width: 100%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .cover-image{
    height: 450px;
  }

  .text-title {
    font-size: 2.3em;
  }

  .text-sub {
    width: 100%;
    font-size: 25px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 30px;
  }

  .wrap-about p{
    font-size: 16px;
  }

  .action {
    width: 90%;
  }

  .action a {
    width: 270px;
    font-size: 18px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 355px) {
  .cover-image{
    height: 450px;
  }

  .text-title {
    font-size: 2em;
  }

  .text-sub {
    width: 100%;
    font-size: 25px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 60%;
  }

  .action a {
    width: 150px;
    font-size: 17px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 325px) {
  .cover-image{
    height: 450px;
  }

  .text-title {
    font-size: 2.2em;
  }

  .text-sub {
    width: 100%;
    font-size: 25px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 65%;
  }

  .action a {
    width: 150px;
    font-size: 15px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 310px) {
  .cover-image{
    height: 450px;
  }

  .text-title {
    font-size: 2em;
  }

  .text-sub {
    width: 100%;
    font-size: 25px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 70%;
  }

  .action a {
    width: 150px;
    font-size: 15px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 308px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 2em;
  }

  .text-sub {
    width: 100%;
    font-size: 25px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 70%;
  }

  .action a {
    width: 150px;
    font-size: 15px;
  }
}

@media screen and (max-width: 305px) {
  .cover-image{
    height: 450px;
  }

  .text-title {
    font-size: 2em;
  }

  .text-sub {
    width: 100%;
    font-size: 25px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
    padding: 0px 0 30px 0;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 70%;
  }

  .action a {
    width: 150px;
    font-size: 15px;
  }

  .wrap-footer p{
    font-size: 15px;
    padding: 0px 0 30px 0;
  }
}

@media screen and (max-width: 294px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 1.8em;
  }

  .text-sub {
    width: 100%;
    font-size: 25px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
    padding: 0px 0 30px 0;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 75%;
  }

  .action a {
    width: 150px;
    font-size: 15px;
  }
}

@media screen and (max-width: 280px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 1.8em;
  }

  .text-sub {
    width: 100%;
    font-size: 25px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
    padding: 0px 0 30px 0;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 80%;
  }

  .action a {
    width: 150px;
    font-size: 15px;
  }
}

@media screen and (max-width: 273px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 1.8em;
  }

  .text-sub {
    width: 100%;
    font-size: 22px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
    padding: 0px 0 30px 0;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 80%;
  }

  .action a {
    width: 150px;
    font-size: 15px;
  }
}

@media screen and (max-width: 270px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 1.7em;
  }

  .text-sub {
    width: 100%;
    font-size: 22px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
    padding: 0px 0 30px 0;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 80%;
  }

  .action a {
    width: 150px;
    font-size: 15px;
  }
}

@media screen and (max-width: 266px) {
  .cover-image{
    height: 400px;
  }

  .text-title {
    font-size: 1.7em;
  }

  .text-sub {
    width: 100%;
    font-size: 20px;
  }

  .head-info{
    font-size: 35px;
  }

  .info{
    font-size: 18px;
  }

  .wrap-about h2{
    font-size: 25px;
    padding: 0px 0 30px 0;
  }

  .wrap-about p{
    font-size: 15px;
  }

  .action {
    width: 85%;
  }

  .action a {
    width: 150px;
    font-size: 15px;
  }
}

/**================================
   == Akhir Responsive index.php ==
   ================================**/

/**================================
   == Akhir Responsive index.php ==
   ================================**/

#menu-hide a{
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}

#menu-hide a:hover{
  border-bottom: 6px solid rgb(50, 65, 98);
}

.navbar-default{
  border: none !important;
  background-color: white !important;
}

.fluid-header{
  margin-top: -20px;
  background-color: rgb(50, 65, 98);
}

.fluid-header h1{
  color: white;
  font-family: 'Baloo Thambi', cursive;
}

.fluid-header p{
  color: white;
  font-size: 28px;
  font-family: 'Baloo Thambi', cursive;
}

.fluid-header img{
  background-color: ;
}

.rows{
  padding: 30px 0px;
}

.fluid-center{
  padding: 80px 0;
  background-color: rgb(242, 245, 247);
}

.fluid-center h3{
  font-family: 'Baloo Thambi', cursive;
}

.fluid-center h5{
  font-size: 16px;
  margin-bottom: 5px;
  font-family: 'Baloo Thambi', cursive;
}

.fluid-center p{
  font-size: 18px;
  width: 50px;
  margin: 0 auto;
  font-family: 'Inconsolata', monospace;
}

.head-title{
  outline: none !important;
}

.head-title:hover{
  cursor: pointer;
}

.fluid-header a{
  color: white;
  font-size: 18px;
  border: 2px solid white;
  background-color: transparent;
  font-family: 'Inconsolata', monospace;
}

.fluid-header a:hover{
  transition: .5s ease-in;
  border: 2px solid white;
  background-color: white;
}

.panel-default{
  border: none !important;
  background-color: rgb(242, 245, 247) !important;
}

.panel-heading, .panel-body, .panel-footer{
  padding-left: 0px !important;
  border: none !important;
  background-color: rgb(242, 245, 247) !important;
}

.panel-body .core-lokasi{
  font-family: 'Inconsolata', monospace;
}

.panel-footer .kategori{
  font-size: 16px;
  font-family: 'Baloo Thambi', cursive;
}

.panel-footer .label{
  font-size: 12px;
  font-family: 'Inconsolata', monospace;
}

/* css form login */

.bg-content {
  background: url("image/image-login/bgg2.jpg");
}

.wrapp {
  background-color: rgb(8, 141, 165);
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.form1 {
  margin-top: 20px;
}

/**================================
   ==== css jadwal_seminar.php ====
   ================================**/

.fluid-action{
  padding: 10px;
  background-color: rgb(242, 245, 247);
  margin: 0 auto;
}

.btn-collapse{
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Baloo Thambi', cursive;
}

.btn-collapse:hover{
  cursor: pointer;
}

#collapseBody{
  margin-top: -10px;
  border: 1px solid rgb(204, 204, 204);
}

.collapse-body{
  padding: 10px;
}

#tampil_modal:before{
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

#modal{
  padding: 10px;
  background-color: white;
  width: 30%;
  height: 200px;
  margin: 0 auto;
  position: fixed;
  top: 40%;
  left: 35%;
  border-radius: 10px;
  border: 2px solid grey;
  z-index: 100;
}

#modal h6{
  text-align: center;
}

#modal a{
  padding: 5px;
  margin-top: 0px;
}

#modal h5{
  padding: 10px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
